_site/
_draft/
.jekyll-cache/

.sass-cache
.jekyll-metadata
vendor

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/